*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	overflow: hidden;
}
i.iconfont{
	color: #313131;
	font-size: 1.4rem;
}
#views_box{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}
header{
	width: 100%;
	height: 4rem;
	background: #ad1b1b;
	text-align: center;
	color: white;
	line-height: 4rem;
	font-size: 1.8rem;
}
header .backspace{
	display: inline-block;
}
header h3{
	display: inline-block;
	width: 55%;
}
header .shoppingCart{
	display: inline-block;
}
header button{ 
	height:3rem ; 
	line-height: 3rem; 
	margin: 0.5rem; 
	min-width: 4rem; 
	border: 0;
	border-radius: 0.2rem; 
	background: #ad1b1b; 
}
section{
	width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
	overflow: hidden;
}
footer{
	width: 100%;
	height: 4rem;
	background: #ad1b1b;
	text-align: center;
	color: white;
	
	display: flex;
}
footer button{ 
	font-size: 1.5rem;	
	flex: 1; 
	height: 100%; 
	border: 0;
}
.swiper-container,.swiper-wrapper,.swiper-slide{
	height: 12rem;
	width: 100%;
}
.swiper-slide img{
	height: 10rem;
	width: 100%;
}
.swiper-container .swiper-pagination{
	height: 1rem;
	width: 6rem;
	background: #bcbcbc !important;
	border-radius:0.4rem ;
	margin-left: 36%;
	line-height: 1rem;
}
.swiper-container .swiper-pagination-bullet{
	background: #FFFFFF;
	opacity: 1;
}
.swiper-container .swiper-pagination-bullet-active{
	background: red;
	opacity: 1;
}
.con h3{
	width: 90%;
	font-size:1rem ;
	line-height: 0.8rem;
	text-indent:2em;
	margin-left: 5%;
	margin-top: 2%;
}
.con span{
	display: block;
	margin-left: 5%;
	font-size: 0.8rem;
	color: #ba0951;
	font-weight: bold;
	margin-top: 4%;
}
.con span a{
	margin-left: 10%;
	color: grey;
}
.con p{
	font-size: 0.8rem;
	margin-top: 4%;
	margin-left: 5%;
}